.buttons {
    display:flex;
}
.resetButton{
    margin: .5em;
    border: 3px solid white;
    border-radius: 5px;
    background: hsl(0, 0%, 23%);
    text-transform: uppercase;
    padding: .5rem;
    font-weight: bold;
    cursor: pointer;
    color: white;
}
.resetButton:hover,
.resetButton:focus {
  background-color: #F84D4D;
}
.guessButton,
.clearButton{
    margin: .5em;
    border: 3px solid white;
    border-radius: 5px;
    background: hsl(0, 0%, 23%);
    text-transform: uppercase;
    padding: .5rem;
    font-weight: bold;
    cursor: pointer;
    color: white;
}
.guessButton {
    background-color: rgb(83,141,78);
    color: white;
  }

.guessButton:hover,
.guessButton.focus {
background-color: rgb(20, 200, 0)
}

.clearButton {
background-color: rgb(141, 78, 78);
color: white;
}

.clearButton:hover,
.clearButton.focus {
background-color: #F84D4D
}
