html {
  background-color: #191919;
}

/* Tone down the animation to avoid vestibular motion triggers. */
@media (prefers-reduced-motion: reduce) {
  .App {
    animation: none;
    transform: none;
  }
a:hover, button:hover, svg:hover, div:hover, span:hover, p:hover {
  transition-duration: 0s !important;
  transition-delay: 0s !important;
  transition: none !important;
  transform: none !important;
  scale: none !important;
  animation: none !important;
}

}

.jersey {
  font-family: "Jersey 20", sans-serif;
}

.jersey-25 {
  font-family: "Jersey 25", sans-serif;
}

.micro {
  font-family: "Micro 5", sans-serif;
}
